<div class="cover", align="center">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>楽しいを追求する</h1>
      <%= link_to 'Log in!' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>